*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: #D1F2EB;
}

nav{
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    background: #D6EAF8;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0 , 0.1);
    z-index: 1000; /* Asegura que el nav esté por encima de otros elementos */
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5 ease;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 36px;
    text-transform: uppercase;  
}

a{
    position: relative;
    color: rgb(85, 85, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
}

.nav-item{
    position: center;
    margin-left:10px;
    font-size: 22px;

}
.nav-item-logo{
    position: center;
    top: 12px;
    margin-left:10px;

}

a:hover{
    background: #eee;

}

nav:hover{
width: 280px;
transition: all 0.5s ease;
}

.logout{
    position: absolute;
    bottom: 0;
}


/* estilos del mapa*/
.info{
    border-radius: 45px;
    width: 50%;
    margin: 2% auto;
    background: #90e3f8;
    color:black;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

.info h1{
    font-size: 2.5rem;
background: E5EE89;
}
.info h2{
    font-size: 1.8rem;
}

.info .btn{
    width: 80%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 15px;
}
.btn-disabled {
    margin-top: 15px;
    width: 80%;
    height: 45px;
    border-radius: 40px;
    border: none;
    cursor: not-allowed;
}
.btn-enabled {
    margin-top: 15px;
    width: 80%;
    height: 45px;
    border-radius: 40px;
    color: black;
    border: none;
}

#map {
    width: 80%;
    height: 200px;
    display: none;
    margin-left: 75px;
    margin-top: 14px;
}
